<!DOCTYPE html>
<html lang="nl">
    <head>
        <meta charset="UTF-8">
        <meta name="language" content="NL">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="{{ asset('css/main.css') }}">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% include 'components/nav.html.twig' with {navType:navType} %}
        <div class="content" role="main">
            {% block body %}{% endblock %}
        </div>
<<<<<<< HEAD
        {% include 'components/footer.html.twig' %}
        {% block javascripts %}{% endblock %}
        {# determine navigation type #}
        {% if navType is defined %}
            {% if navType == "header"%}
                <script type="module" src="{{ asset('scripts/navcolour.js') }}"></script>
            {% endif %}
        {% endif %}
        <script type="module" src="{{ asset('scripts/navresponsive.js') }}"></script>
    </body>
=======
        <div id="footersubcontainer2">
            <h5>links</h5>
            <ul>
                <li><a href="#">home</a></li>
                <li><a href="#">over ons</a></li>
                <li><a href="#">contact</a></li>
            </ul>
        </div>
        <div id="footersubcontainer3">
            <h5>adres</h5>
            <ul>
                <li>www.mborijnland.nl</li>
                <li>082 222 1777</li>
                <li>van doornenplantsoen 11</li>
                <li>2722 ZA Zouetermeer</li>
            </ul>
        </div>
    </div>
</footer>
</body>
>>>>>>> ba578915248fbedad741a6feaa160946b9b97345
</html>