{% extends 'base.html.twig' %}

{% block title %}Edit Qeustion{% endblock %}

{% block body %}
    <h1>Edit Qeustion</h1>

    {{ include('qeustion/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('qeustion_index') }}">back to list</a>

    {{ include('qeustion/_delete_form.html.twig') }}
{% endblock %}
