{% extends 'base.html.twig' %}

{% block title %}New Qeustion{% endblock %}

{% block body %}
    <h1>Create new Qeustion</h1>

    {{ include('qeustion/_form.html.twig') }}

    <a href="{{ path('qeustion_index') }}">back to list</a>
{% endblock %}
